.pagename {
    background-image: url('/images/header.jpeg');
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-size: cover;
    background-color: #0000002b;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.pagename-blok {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    color: #fff;
    text-transform: capitalize;
}

.pagename-blok h1 {
    font-size: 280%;
}

.pagename-parent {
    color: var(--orange-color);
    text-decoration: none;
    transition: .3s;
}

.pagename-parent:hover,
.pagename-child:hover {
    text-decoration: underline;
}

.pagename-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    background: green;
}

.pagename-section-part-1 {
    display: flex;
    flex-direction: column;
}

.pagename-drop {
    margin: 0 5px;
}

@media (max-width: 480px) {
    .pagename {
        background-image: linear-gradient(rgba(0, 0, 0, 0.366), rgba(0, 0, 0, 0.07)), url('/images/header.jpeg');
        background-position: bottom;
        background-attachment: local;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}

@media (max-width: 435px) {
    .pagename-blok h1 {
        font-size: 170%;
    }
}

@media (max-width: 350px) {
    .pagename-parent {
        font-size: 90%;
    }

    .pagename-child {
        font-size: 90%;
    }

    .pagename-drop {
        font-size: 90%;
    }
}